<!doctype html>
{__NOLAYOUT__}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    {include file="public/resource"}
</head>
<body style="width: 100%">
{include file="public/handleMessageModal"}
<div class="logTop" align="center">
    <img src="__STATIC__/img/login.jpg" class="logImg">
</div>
<div class="lab col-xs-12 col-md-4 col-md-offset-4">
    <i class="weui_tabbar_icon col-xs-3 icon1"></i><input type="email" class="col-xs-6 text" placeholder="用户名/手机号">
</div>
<div class="lab col-xs-12 col-md-4 col-md-offset-4">
    <i class="weui_tabbar_icon col-xs-3 icon2"></i><input type="password" class="col-xs-6 text" placeholder="密码">
</div>
<div class="col-xs-12 col-md-4 col-md-offset-4 text-right">
    <a class="forgetPw">忘记密码</a>
</div>
<button type="button" class="loginBtn col-xs-12 col-md-4 col-md-offset-4" id="toLogin">登录</button>
<div class="col-xs-12 text-center"><span style="color: #9ca5a0">没有账号? &nbsp;&nbsp;</span><span class="goRegister"> 注册</span></div>
</body>
<link rel="stylesheet" href="__STATIC__/css/login.css">
<script src="__STATIC__/js/controller/login.controller.js"></script>
</html>