<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport"/>
<link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
<link rel="stylesheet" href="__STATIC__/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="__STATIC__/css/weui.css?v=1">
<script src="__STATIC__/js/jquery.min.js"></script>
<script src="__STATIC__/js/bootstrap.min.js"></script>
<script src="__STATIC__/js/store.legacy.min.js"></script>
<script src="__STATIC__/js/vue.js"></script>
<script src="__STATIC__/js/base.controller.js"></script>





